{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_ds.6 }}</title>
    <link rel="stylesheet" href="{% static 'css/server_functional_style.css' %}">
</head>
<body>
<a style="color: #61dafb;" href="{% url 'server_info' server_id=user_ds.5 %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
</a>

<div align="center">
    <img style="border-radius: 50%; margin-bottom: 1%" width="16%" height="16%" src="{{ user_ds.7 }}" alt="">
    <h3 style="margin-bottom: 10px">{{ user_ds.6 }}</h3>
</div>


<div align="center">
    У вас есть {{ user_ds.2 }} баллов:
    <br><br>
    {% deposit_info user_ds.0 as deposit %}
    {% if deposit %}
        <div class="deposit_card">
            <form method="post" class="d-flex" enctype="multipart/form-data"
                  action="{% url 'delete_deposit' %}">
                {% csrf_token %}
                <input hidden="hidden" name="deposit_uuid" value="{{ deposit.0 }}">
                <input hidden="hidden" name="user_uuid" value="{{ user_ds.0 }}">
                <input hidden="hidden" name="user_points" value="{{ user_ds.2 }}">
                <input hidden="hidden" name="deposit_points" value="{{ deposit.5 }}">
                <input hidden="hidden" name="server_id" value="{{ user_ds.5 }}">
                <button type="submit" class="close-btn">&#10005;</button>
            </form>
        <p><b>Информация о вкладе:</b></p>
        <p>Дата создания: {{ deposit.3 }}</p>
        <p>Изначальное количество баллов: {{ deposit.2 }}</p>
        <p>Доступно для вывода: {{ deposit.5 }}</p>
    </div>
    {% else %}
        <br>
            <h3><b>Введите размер депозита</b></h3>
        <form action="{% url 'create_deposit' %}" id="numberForm" method="post" class="d-flex" enctype="multipart/form-data">
            {% csrf_token %}
            <span id="PointsError" class="error"></span>
            <input type="number" name="points" class="form-control form-control-lg bg-dark text-white" id="numberInput" placeholder="" aria-label="Введите число" aria-describedby="clearButton">
            <input hidden="hidden" name="user_uuid" value="{{ user_ds.0 }}">
            <input hidden="hidden" name="user_points" value="{{ user_ds.2 }}">
            <input hidden="hidden" name="server_id" value="{{ user_ds.5 }}">
            <button type="reset" style="background-color: #18b7f4; border: 1.5px #305875 solid; border-radius: 20px" id="clearButton" class="btn btn-danger" onclick="clearInput()">Очистить</button>
            <br>
            <button style="margin-top: 10px; background-color: #18b7f4; border: 1.5px #305875 solid; border-radius: 20px" type="submit">Создать</button>
        </form>
    {% endif %}
</div>

</body>
</html>