
a   {
        text-decoration: none;
        color: white;
    }


th, td  {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #555555;
        }

.avatar {
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }

tr:hover {
          background-color: #2e2e2e;
         }

body {
    background-color: #20232a;
    color: #61dafb;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #282c34;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
}

.user_avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#secret-code {
    margin-top: 10px;
    display: none;
}

.server-list {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #61dafb;
    padding: 8px;
    text-align: left;
}

.hidden {
    display: none;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #20232a;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #20232a;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.button7
{
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}

.button7:hover
{
  background: rgb(53, 167, 110);
}

.button7:active
{
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}


a.button6
{
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(225,0,50);
  box-shadow: 0 -3px rgb(200,10,20) inset;
  transition: 0.2s;
}

a.button6:hover
{
  background: rgb(180, 20, 30);
}

a.button6:active
{
  background: rgb(225,0,50);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

